.iconsContainer {
display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
align-content: center;
width: 30%;
margin-top: 10px;
}
.noActive {
    text-decoration: line-through;
}
.iconsTodo {
    cursor: pointer;
    margin-right: 20px;
}
